/* Create a column layout with Flexbox */
.row {
	padding-left: 200px;
	display: inline;
	color: #0B3B17;
	font-family: 'Do Hyeon', sans-serif;
	position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1003;
    /* display: block; */
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    border-right: 1px solid #eee;
    top:137px;
    margin-left: 18%;

}

/* Left column (menu) */
.left {
	float: left;
	flex: 100%;
	padding: 15px 0;
	text-align: center;
	max-width: 243px;
}

.left h2 {
	padding-left: 8px;
}

/* Right column (page content) */
.right2 {
	width: 85%;
	padding: 15px;
	position : absolute;
	top : 150px;
	left : 284px;
	bottom : 0px;
	z-index: 1002;
	margin-left: 20%;
	
}

/* Style the search box */
#mySearch {
	width: 90%;
	font-size: 18px;
	padding: 11px;
	border: 1px solid #ddd;
}

/* Style the navigation menu inside the left column */
#myMenu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#myMenu li a {
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	color: #0B3B17;
	display: block;
	text-align: center;
}

#myMenu li a:hover {
	color: #4b8c8c;
}