#fileBoard :hover{text-decoration:yes;color:blue}
#fileBoard :visited {text-decoration:none;color:#330066} 

#fileBoard {
   FONT-SIZE: 10pt; COLOR: black; LINE-HEIGHT: 160%; FONT-FAMILY: ±¼¸²,verdana,tahoma;
}

#fileBoard td {
   FONT-SIZE: 10pt; COLOR: black; LINE-HEIGHT: 160%; FONT-FAMILY: ±¼¸²,verdana,tahoma;
}

#fileBoard textarea {
   BORDER-RIGHT: 1px solid #999999; BORDER-TOP: 1px solid #999999; FONT-SIZE: 9pt; BORDER-LEFT: 1px solid #999999 ; COLOR: BLACK; BORDER-BOTTOM: 1px solid #999999; FONT-FAMILY: ±¼¸²,verdana; BACKGROUND-COLOR: white
}
