@import url('https://fonts.googleapis.com/css?family=Sunflower:300');

body{
	margin:0px;
	padding:0px;
	color:black;
}

header{
	overflow:hidden;
	background-color: white;
}

/* #header{
	border : gray solid 2px;
	height: 100px;   
	width: 100%; 
}
 */
#header img{
   height:auto;
   width:5%;   
   overflow:hidden;
   vertical-align: middle;
   margin:5px;
}

img{
	height:auto;
	width:5%;	
	overflow:hidden;
	vertical-align: middle;
	margin:5px;
}

header span{
	font-size: 50px;
	font-weight: bold;
	vertical-align: middle;
	padding-left: 10px;
	font-family:'Sunflower:300';
}

#my{
	margin-top:15px;
	margin-right:10px;
	float:right;
}

#menu{   
	height: 35px;   
	width: 100%; 
	border-bottom: black solid 2px;
	border-left: black solid 2px;
	border-right: black solid 2px;   
} 

#menu ul{
	margin:0px;
	padding-left:0px;
}

#menu ul li{  /* topMenu의 ID를 가진 태그 안에 <ul> 태그 안에 <li> 태그의 스타일을 지정 */ 
	list-style: none; /*  <li> 태그는 위의 이미지처럼 목록을 나타내는 점을 없앤다 */ 
	float: left; /*  <li>태그들이 왼쪽에 흐르게 설정(그러면 아래있는 내용은 오른쪽으로 옴) */ 
	line-height: 35px; /*  글씨가 가운데로 오도록 설정하기 위해 한줄의 높이를 30px로 설정 */ 
	vertical-align: middle; /*  세로 정렬을 가운데로 설정(위의 line-height와 같이 설정 필요함) */ 
	text-align: center; /*  글씨 정렬을 가운데로 설정 */
	margin-left:0px;
	padding-left:0px;
	} 
	
#menu > ul > li:first-child > a { border-radius: 10px 0 0 10px; }
#menu > ul > li:last-child > a  { border-radius: 0 10px 10px 0; }
	
#menu .menuLink{ /*  topMenu 아이디를 가진 태그 안에 있는 menuLink 클래스 태그들의 스타일 설정 */ 
	text-decoration:none; /*  링크(<a> 태그)가 가지는 기본 꾸밈 효과(밑줄 등)을 없앰 */ 
	display: block; /*  링크를 글씨가 있는 부분 뿐만아니라 전체 영역을 클릭해도 링크가 걸리게 설정 */ 
	width: 300px; /*  메뉴링크의 넓이 설정 */ 
	font-size: 16px; /*  폰트 사이즈 12px로 설정 */ 
	font-family: "Trebuchet MS", Dotum, Arial; /*  기본 폰트 적용, 시스템 폰트를 종류별로 순서대로 */
	font-weight: bold; /*  폰트를 굵게 */ 
	margin-left:0px;
	padding-left:0px;
	color:black;
} 

#menu .menuLink:hover{ /* topMenu 아이디를 가진 태그 안에 menuLink클래스를 가진 태그에 마우스가 over되면 스타일 설정 */ 
	color: write; /*  글씨 색을 붉은색으로 설정 */ 
	background-color: #4d4d4d; /*  배경색을 조금 더 밝은 회색으로 설정 */ 
}

footer{
	text-align:center;
	padding:10px;
	color: white;
	height: 100px;   
	width: 100%;
	background-color: black;
	opacity: 0.7; 
	position: absolute;
	bottom: 0px;
}

