<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Education</display-name>
    
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

	<servlet>
	   <servlet-name>DBCPInit</servlet-name>
	  <servlet-class>jdbc.DBCPInit</servlet-class>
	  <load-on-startup>1</load-on-startup>
	</servlet>
		
 <servlet>
	<servlet-name>ControllerUsingURI</servlet-name>
	<servlet-class>controller.ControllerUsingURI2</servlet-class>
	<init-param>
		<param-name>configFile2</param-name>
		<param-value>/WEB-INF/commandHandlerURI.properties</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
	<servlet-name>ControllerUsingURI</servlet-name>
	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
   		<servlet-name>tiles</servlet-name>
   		<servlet-class>org.apache.tiles.web.startup.TilesServlet</servlet-class>
   		<init-param>
   			<param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
   			<param-value>/WEB-INF/tiles-service.xml</param-value>
   		</init-param>
   		<load-on-startup>1</load-on-startup>
   </servlet>


</web-app>